langsmith==0.0.18
markdown-it-py==2.2.0
openai==0.27.7
openapi-schema-pydantic==1.2.4
psycopg2-binary==2.9.6
pgvector==0.2.1
streamlit==1.25.0
streamlit-authenticator==0.2.2
tiktoken==0.4.0
streamlit-card
jinaai
load_dotenv
langchain==0.0.251
langchain-experimental==0.0.8
langsmith==0.0.18
markdown-it-py==2.2.0
openai==0.27.7
openapi-schema-pydantic==1.2.4
psycopg2-binary==2.9.6
pgvector==0.2.1
streamlit==1.25.0
streamlit-authenticator==0.2.2
tiktoken==0.4.0
streamlit-card